<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    @if (aboutMe is not null)
    {
        <h2>@aboutMe.AboutTitle</h2>
    }

    <div class="w3-container  w3-padding-64">

        <div class="w3-panel w3-card-4 w3-center w3-white w3-padding-64">
            @if (aboutMe is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <p>@aboutMe.Description</p>
                <hr />
                <ul style="text-align: left; columns: 2; font-size: 1.25rem; margin: 2rem 3rem; gap: 3rem;">
                    @foreach (var skill in aboutMe.Skills)
                    {
                        <li key="@skill">@skill</li>
                    }
                </ul>
                <hr />
                <p style="padding: 1rem 3rem 0;">@aboutMe.DetailOrQuote</p>
            }
        </div>
    </div>
   
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        aboutMe = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");

    }
}
