<section class="dark" id="portfolio">
    <h2 class="w3-left">Portfolio</h2>
    <div class="w3-container">
        <div class="w3-row ">
            @if (projects is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div class="w3-padding-64">
                    <div class="w3-card-4">
                        @if (pgImage is not null)
                        {
                            <img src="@(pgImage.Src)" style="height: 90%; width: 100%;" class="w3-grayscale"
                                 alt="@(pgImage.Alt)" />
                        }
                    </div>

                </div>

                <div class="w3-row-padding w3-center w3-margin-top">
                    @foreach (var project in projects)
                    {
                        <div class="w3-third">
                            <div class="w3-card w3-container w3-sand" style="min-height:360px">
                                <a href="@project.Url" target="_blank" rel="noopener noreferrer">
                                    <h2 style="flex-basis: 40px;">@project.Title</h2>
                                </a>
                                <p class="small">@project.Description</p>
                            </div>
                        </div>
                    }
                </div>

            }
        </div>
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<Project>? projects;
    private HeroImage? pgImage;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
        pgImage = await HeroImageService.GetHeroAsync(img => img.Name == "sfondoPc");

    }
}
